body {
  background-color: moccasin;
}

div.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.card {
  padding: 1rem;
  background-color: bisque;
  border-radius: 1rem;
  box-shadow: 1px 1px 1rem rgba(0, 0, 0, 25%);
}

div.inputform {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.inputform > button {
  grid-column: 1 / -1;
}
