body {
  background-color: moccasin;
  padding: 1rem;
}

p {
  margin: 0;
}

div.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  padding: 1rem;
  background-color: bisque;
  border-radius: 1rem;
  box-shadow: 1px 1px 1rem rgba(0, 0, 0, 25%);
  text-align: center;
}

.card .title {
  font-size: 1.5rem;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

form > button {
  grid-column: 1 / -1;
}
